# Sistema operativo y editores
Thumbs.db
Desktop.ini
.DS_Store
.vscode/
.idea/

# Node y Android generados
node_modules/
android-app/node_modules/
android-app/www/
android-app/android/
.gradle/

# Firmas y binarios
*.jks
*.keystore
*.apk
*.aab

# Temporales
*.log
*.tmp
